{:nrepl
 {:port 8777}

 :deps true

 :dev-http
 {8280 "resources/public"}

 :builds
 {:client
  {:target     :browser
   :output-dir "resources/public/js"
   :modules
   {:client
    {:init-fn todomvc.core/main}}
   :dev
   {:compiler-options
    {:closure-defines
     {re-frame.trace.trace-enabled?        true
      day8.re-frame.tracing.trace-enabled? true}}}
   :release
   {:build-options
    {:ns-aliases
     {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
