**/.idea/**/*
!.idea/codeStyleSettings.xml
*.iml
*.log
.nrepl-port
pom.xml
pom.xml.asc
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
core/
out/
/target/
compiled/
misc/
/examples/todomvc/resources/public/js/
/examples/simple/resources/public/js/
.floo
.flooignore
node_modules/
examples/todomvc/.idea/
docs/build/_book/
docs/build/index.html
docs/**/*.epub
docs/**/*.pdf
docs/**/*.mobi
build/
*~
/shadow-cljs.edn
/.shadow-cljs/
/site/
.cpcache
