{:min-bb-version "0.4.0"
 :deps
 {day8/dev {:git/url "https://github.com/day8/dev.git"
            :git/sha "f7617846597f411fd646a46b283777584a1a02bb"}}
 :tasks
 {:requires    ([day8.dev :as dev])
  test         (do (clojure "-M:test" "compile" "browser-test")
                   (clojure "-X:test"))
  watch-test   (clojure "-M:test watch browser-test")
  watch-docs   (clojure "-M:docs" "watch" "docs")
  release-docs (clojure "-M:docs" "release" "docs")
  clojars      (clojure "-M:clein" "deploy")}}
