{:deps  true
 :nrepl {:port 8777}

 :dev-http
 {8280 "resources/public"}

 :builds
 {:client
  {:target     :browser
   :output-dir "resources/public/js"
   :devtools
   {:preloads [hashp.core]}
   :modules
   {:client
    {:init-fn re-frame.flow.demo/run}}}}}
