{:cljdoc.api/namespaces [re-frame.core]
 :cljdoc.doc/tree       [["re-frame" {:file "docs/index.md"}]
                         ["THE BASICS"
                          ["A Data Loop" {:file "docs/a-loop.md"}]
                          ["State" {:file "docs/application-state.md"}]
                          ["Code" {:file "docs/dominoes-30k.md"}]]
                         ["INTERMEDIATE 2 & 3" {}
                          ["Event Infographic" {:file "docs/event-handling-infographic.md"}]
                          ["Effectful Handlers" {:file "docs/EffectfulHandlers.md"}]
                          ["Interceptors" {:file "docs/Interceptors.md"}]
                          ["Effects" {:file "docs/Effects.md"}]
                          ["Coeffects" {:file "docs/Coeffects.md"}]]
                         ["INTERMEDIATE 4, 5 & 6" {}
                          ["Subscriptions" {:file "docs/subscriptions.md"}]
                          ["Correcting a wrong" {:file "docs/correcting-a-wrong.md"}]
                          ["Flow Mechanics" {:file "docs/flow-mechanics.md"}]]
                         ["START CODING" {:file "docs/start-coding.md"}]
                         ["MENTAL MODEL OMNIBUS" {}
                          ["Other Models" {:file "docs/all-models-are-wrong.md"}]
                          ["On Dynamics" {:file "docs/on-dynamics.md"}]
                          ["Data Oriented Design" {:file "docs/data-oriented-design.md"}]
                          ["Interconnections" {:file "docs/interconnections.md"}]
                          ["Historical" {:file "docs/historical.md"}]]
                         ["MORE ADVANCED" {}
                          ["Browser Dynamics" {:file "docs/browser-dynamics.md"}]
                          ["Reusable Components" {:file "docs/reusable-components.md"}]
                          ["App Structure" {:file "docs/App-Structure.md"}]
                          ["Loading Initial Data" {:file "docs/Loading-Initial-Data.md"}]
                          ["Talking To Servers" {:file "docs/Talking-To-Servers.md"}]
                          ["Subscribing to External Data" {:file "docs/Subscribing-To-External-Data.md"}]
                          ["Debugging" {:file "docs/Debugging.md"}]
                          ["Testing" {:file "docs/Testing.md"}]
                          ["Eek! Performance Problems" {:file "docs/Performance-Problems.md"}]
                          ["Solve the CPU hog problem" {:file "docs/Solve-the-CPU-hog-problem.md"}]
                          ["Using Stateful JS Components" {:file "docs/Using-Stateful-JS-Components.md"}]
                          ["The Logo Backstory" {:file "docs/The-re-frame-logo.md"}]]
                         ["FAQs" {}
                          ["How can I Inspect app-db?" {:file "docs/FAQs/Inspecting-app-db.md"}]
                          ["How Do I Load On Mount?" {:file "docs/FAQs/LoadOnMount.md"}]
                          ["Reagent looks terrific. Why do I need re-frame?" {:file "docs/FAQs/DoINeedReFrame.md"}]
                          ["How do I do full-stack re-frame?" {:file "docs/FAQs/FullStackReframe.md"}]
                          ["How long after I do a dispatch does the event get handled?" {:file "docs/FAQs/When-Does-Dispatch-Happen.md"}]
                          ["How can I use a subscription in an Event Handler" {:file "docs/FAQs/UseASubscriptionInAnEventHandler.md"}]
                          ["How do I use logging method X" {:file "docs/FAQs/Logging.md"}]
                          ["Dispatched Events Are Null" {:file "docs/FAQs/Null-Dispatched-Events.md"}]
                          ["Why is re-frame implemented in `.cljc` files" {:file "docs/FAQs/Why-CLJC.md"}]
                          ["Why do we need to clear the subscription cache when reloading with Figwheel?" {:file "docs/FAQs/Why-Clear-Sub-Cache.md"}]
                          ["How can I detect exceptions in Event Handlers?" {:file "docs/FAQs/CatchingEventExceptions.md"}]
                          ["How do I store normalised data in app-db?" {:file "docs/FAQs/DB_Normalisation.md"}]
                          ["How do I register a global interceptor" {:file "docs/FAQs/GlobalInterceptors.md"}]
                          ["How do I turn on/off polling a database every 60 secs" {:file "docs/FAQs/PollADatabaseEvery60.md"}]
                          ["re-frame uses side-effecting registrations. Should I feel dirty?" {:file "docs/FAQs/ViewsOnGlobalRegistration.md"}]]
                         ["Releases" {}
                          ["2020" {:file "docs/releases/2020.md"}]
                          ["2019" {:file "docs/releases/2019.md"}]
                          ["2018" {:file "docs/releases/2018.md"}]
                          ["2017" {:file "docs/releases/2017.md"}]
                          ["2016" {:file "docs/releases/2016.md"}]
                          ["2015" {:file "docs/releases/2015.md"}]]
                         ["Resources" {:file "docs/External-Resources.md"}]]}
