
div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}

.example-clock {
    font-size: 128px;
    line-height: 1.2em;
    font-family: HelveticaNeue-UltraLight, Helvetica;
}

@media (max-width: 768px) {
    .example-clock {
        font-size: 64px;
    }
}

.color-input, .color-input input {
    font-size: 24px;
    line-height: 1.5em;
}
