
body {
    font-family: "Segoe UI", "Open Sans",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
}

/**
 * The header is removed in theme.edn by Enlive transformations so the top of
 * the content needs to be repositioned otherwise it leaves a white bar above
 * the content.
 */
div.sidebar.primary,
div.sidebar.secondary,
div.namespace-docs {
    top: 0 !important;
}

/**
 * As standard effects and co-effects embed HTML for navigation menus in
 * markdown some of the styles need to be reset as these styles are otherwise
 * changed for markdown content.
 */
div.markdown div.sidebar.secondary ul {
    padding-left: 0 !important;
}

div.markdown div.sidebar.secondary h3 {
    font-weight: lighter !important;
    font-size: 19px !important;
    margin: 0 !important;
}
