.klipse-snippet,
.klipse-result,
.codehilite code {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

.klipse-snippet {
    padding-top: 7px;
    padding-bottom: 7px;
}

.klipse-result,
.klipse-container {
    padding-bottom: 7px;
}

.klipse-snippet,
.klipse-result,
.klipse-container {
    padding-left: 7px;
    padding-right: 7px;
    background-color: #EEEEEE;
}

.klipse-separator {
    display: none;
}
