
/* Center ('space-evenly') links under home page logo. */
.tx-hero__links {
  display: flex;
  flow-direction: row;
  justify-content: space-evenly;
}

.tx-hero__links a {
  margin: 0 !important;
}

/* Hide empty h1 headers that we need to place at the top of some pages such
   as FAQs so that both a page-level header does NOT appear and the right
   hand side table of contents is not broken. */
h1[id=_1] {
    display: none;
}


/* Make the heading shades of blue.
*/
.md-typeset h1 {
  color: #00aeff;
}

/* Make headings blue.
   Trim whitespace above and below. In particular, less gap following paragraph. */
.md-typeset h2 {
  color: #02a6f2;
  margin: 1.6rem 0 -0.2rem;   
}

/* slightly smaller font in code blocks */
.md-typeset code {
  font-size: .79em
}


/* 404 page */
.not-found-container {
  display: flex;
  flow-direction: row;
}
.not-found-text {
  margin-left: 31px;
}

/* The default gaps above and below paragraphs is fairly excessive.
   Default is about 1em. Reduce that slightly.
*/
.md-typeset p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  text-align: justify;
}

body {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 88%, rgb(251, 253, 255) 100%);
}

/*give he code blocks a bit more definition with a border */
.md-typeset pre>code {
  border: 1px solid #e4e4e4;
}

/* 
Bring the top of the code block "up" closer to the end of the paragraph above,
leaving less whitespace.
Paragraphs have a lower margin of about 0.75em (see above), so we are closing most of the gap. 
*/
.codehilite {
  margin-top: -0.6em;
}

/* make the Nav font just fractionally smaller 
   It was 0.7rem - not even sure what a rem is. 
*/
.md-nav {
  font-size: 0.65rem
}
/* 
.md-header {
  background-color: rgb(44, 44, 50)
}

*/
