
/* Center ('space-evenly') links under home page logo. */
.tx-hero__links {
  display: flex;
  flow-direction: row;
  justify-content: space-evenly;
}

.tx-hero__links a {
  margin: 0 !important;
}

/* Hide empty h1 headers that we need to place at the top of some pages such
   as FAQs so that both a page-level header does NOT appear and the right
   hand side table of contents is not broken. */
h1[id=_1] {
    display: none;
}

/* 
*/
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: #0075e1;
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, Arial, sans-serif;
}

.md-typeset h1 {
  font-weight: 200;
  letter-spacing: 0;
  font-size: 55px;
  margin: 0;
}

/* Trim whitespace above and below. In particular, less gap following paragraph. 
*/
.md-typeset h2 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0;
  margin: 1.6rem 0 -0.2rem;   
  border-bottom: solid 1px #e0f0ff;
}


/* slightly smaller font in code blocks */
.md-typeset code {
  font-size: .79em
}


/* 404 page */
.not-found-container {
  display: flex;
  flow-direction: row;
}

.not-found-text {
  margin-left: 31px;
}

/* The default gaps above and below paragraphs is fairly excessive.
   Default is about 1em. Reduce that slightly.
*/
.md-typeset p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

body {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 88%, rgb(251, 253, 255) 100%);
}

/*give he code blocks a bit more definition with a border */
.md-typeset pre>code {
  border: 1px solid #e4e4e4;
}

/* 
Bring the top of the code block "up" closer to the end of the paragraph above,
leaving less whitespace.
Paragraphs have a lower margin of about 0.75em (see above), so we are closing most of the gap. 
*/
.codehilite {
  margin-top: -0.6em;
}

/* make the Nav font just fractionally smaller 
   It was 0.7rem 
*/
.md-nav {
  font-size: 0.65rem
}

