{:nrepl
 {:port 8777}

 :source-paths ["../../src" "src"]

 ;; We repeat re-frame's own dependencies here as instead of
 ;; depending on a re-frame artifact we add the re-frame source
 ;; from this repository directly to the :source-paths.
 :dependencies
 [[reagent                   "1.1.0"]
  [net.cgrand/macrovich      "0.2.1"]
  [org.clojure/tools.logging "1.1.0"]
  [day8/shadow-git-inject    "0.0.5"]]

 :build-defaults
 {:build-hooks [(shadow-git-inject.core/hook)]}

 :dev-http
 {8280 "resources/public"}

 :builds
 {:client
  {:target     :browser
   :output-dir "resources/public/js"
   :modules
   {:client
    {:init-fn simple.core/run}}}}}
